@page "/fetchdata"

@inject HttpClient Http


<h1>Last minute bookings</h1>

<p>Select a last minute booking</p>


<h2>Search</h2>

<div class="row">
    <input type="text" placeholder="Departure" class="form-control col-sm-1" @bind="@DepSearch" />
    <input type="text" placeholder="Destination" class="form-control col-sm-1" @bind="@ArrSearch" />
    <button class="btn btn-primary" @onclick="Search">Search</button>
</div>
<br />

@if (flights == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flights in flights)
            {
                <tr>
                    <td><button class="btn btn-primary">Ordner</button></td>
                    <td>@flights.flying_From</td>
                    <td>@flights.flying_To</td>
                    <td>@flights.departure_Date.ToShortDateString()</td>
                    <td>@flights.departure_Date.AddDays(07).ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <button class="btn btn-primary" @onclick="RefreshPage">Refresh</button>
}

@code {
    private string DepSearch;
    private string ArrSearch;

    Flights[] flights = Array.Empty<Flights>();

    private void RefreshPage()
    {
        StateHasChanged();
    }

    private void Search()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        HttpClient Data = new HttpClient();

        Data.BaseAddress = new Uri("http://localhost:5000");
        flights = await Data.GetJsonAsync<Flights[]>("/api/flights");


    }

    public class Flights
    {
        public int id { get; set; }
        public int capacity { get; set; }
        public string flying_From { get; set; }
        public string flying_To { get; set; }
        public DateTime departure_Date { get; set; }
        public string company { get; set; }
    }


}

