@page "/fetchdata"

@using last_minute_shared

@inject HttpClient Http
@inject FlightsService FlightsService


<h1>Last minute bookings</h1>

<p>Select a last minute booking</p>


<h2>Search</h2>

<div class="row">
    <input type="text" placeholder="Departure" class="form-control col-sm-1" @bind="@DepSearch" />
    <input type="text" placeholder="Destination" class="form-control col-sm-1" @bind="@ArrSearch" />
    <button class="btn btn-primary" @onclick="Search">Search</button>
</div>
<br />

@if (LastMinute == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Hotel Company</th>
                <th>Hotel Location</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var LastMinute in LastMinute)
            {
                <tr>
                    <td><button class="btn btn-primary">Ordner</button></td>
                    <td>@LastMinute.Flights.Flying_From</td>
                    <td>@LastMinute.Flights.Flying_To</td>
                    <td>@LastMinute.Rooms.Company</td>
                    <td>@LastMinute.Rooms.Location</td>
                    <td>@LastMinute.Flights.Departure_Date_Time.ToShortDateString()</td>
                    <td>@LastMinute.Flights.Departure_Date_Time.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <button class="btn btn-primary" @onclick="RefreshPage">Refresh</button>
}

@code {
    private string DepSearch;
    private string ArrSearch;

    LastMinute[] LastMinute = Array.Empty<LastMinute>();

    private async Task RefreshPage()
    {
        var jsonAsync = await Http.GetJsonAsync<LastMinute[]>("http://localhost:5030/api/lastminutes/reload");
        StateHasChanged();
    }

    private void Search()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        LastMinute = await FlightsService.LoadFlights();
    }
}

